
.App-wrapper{
  display: grid;
  grid-template-areas:'h h'
  'n c'  ;
  width: 1920px;
  margin: 0 auto;

  grid-template-rows: 100px 1fr;
  grid-template-columns: repeat(3, 1fr );

  grid-gap: 10px;

}
.App-wrapper-content {
    grid-area: c;
    background-color: #ccccd5;


}



